
<div id="transactionList" class="transactionList" *ngFor="let transaction of transactionList" >
  <div class="form-group row" >
      <div class="transaction col-sm-6" id="btnGroupDrop2" role="group" data-toggle="dropdown" aria aria-haspopup="true" aria-expanded="false">
        <!-- <hr class="my-1"> -->
        <div class="clearfix">
            <h6>
              <span class="float-left">{{transaction.description}}</span>
              <span class="float-right">
                <span *ngIf="transaction.trxType === 1">-</span>${{transaction.amount}}
              </span>
            </h6>
        </div>
        <div class="clearfix">
            <div class="float-left categoryColorBoxBadge"
                  [ngStyle]="{'background-color': transaction.category.colorCode}">
                  {{transaction.category.name}}
            </div>
            <span class="float-right small">{{transaction.purchasedDate}}</span>
        </div>
    </div>
    <!-- <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button> -->
    <div class="dropdown-menu alert-secondary dropdown-menu-right"  aria-labelledby="btnGroupDrop2"  >
      <li><a class="dropdown-item" href="#">Edit</a></li>
      <li><a class="dropdown-item" href="#">Delete</a></li>
    </div>
  </div>
</div>
