
<div class="alert-primary summary" >
    <div class="form-group row text-center"  >
      <div class="col-sm-6 d-flex justify-content-center">
          <i class="fas fa-arrow-left fa-2x"></i> &nbsp;&nbsp;
          <span style="text-decoration: underline;"> {{summary.dataRange}} </span> &nbsp;&nbsp;
          <i class="fas fa-arrow-right fa-2x"></i>
      </div>
    </div>
    <div class="form-group row">
        <div class="clearfix col-sm-6">
          <span class="float-left" style="width: 50%; text-align: left;">
            <span class="labelVal"> Income &nbsp; : {{summary.currencyType}}{{summary.income}} </span> <br/>
            <span class="labelVal"> Balance &nbsp;: {{summary.currencyType}}{{summary.balance}} </span>
          </span>
          <span class="float-right" style="width: 50%; text-align: right;">
            <span> Expense : {{summary.currencyType}}{{summary.expense}} </span> <br />
            <span> Annual Balance : {{summary.currencyType}}{{summary.annualBalace}}  </span>
          </span>
        </div>
    </div>


</div>
