<div class="container-fluid">
  <p></p>
  <div class="form-group row">
    <div class="col-sm-6 text-right">
      <a *ngIf="!showForm" class="btn btn-success roundbutton" (click)="showForm=true" title="Add New Category">
        <h2>+</h2>
      </a>
    </div>
  </div>

  <span *ngIf="showForm">
    <form id="categoryForm" (submit)="save()">
      <div class="form-group row">
        <div class="col-sm-6">
          <label class="col-form-label">Category Name</label>
          <input type="text" name="categoryName" class="form-control" id="CategoryName" required>
        </div>
      </div>

      <div class="form-group row">
          <div class="col-sm-6">
            <label class="col-form-label">Category Color</label>
            <input
              class="form-control"
              [(colorPicker)]="color"
              [style.background]="color"
              (colorPickerChange)="color"
              cpPosition = "top-right"
              cpDialogDisplay="inline"
              cpToggle=true
              name="color"
              id="Color"
              readonly="true"
              cpDisableInput="true"
              required
            >
          </div>
      </div>
      <div class="form-group row"></div>
      <div class="form-group row text-center">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary bg-lrg" > &nbsp; Save &nbsp; </button> &nbsp;&nbsp;
          <button type="submit" class="btn btn-secondary" (click)="showForm=false">Cancel</button>
        </div>
      </div>
    </form>
  </span>
</div>
