<div class="container-fluid">
  <p></p>
  <!-- <div class="form-group row" *ngIf="!showCategoryForm">
    <div class="col-sm-6 text-right">
      <a  class="btn btn-success roundbutton" (click)="addNewCategory()" title="Add New Category">
        <h2>+</h2>
      </a>
    </div>
  </div> -->

  <div *ngIf="showCategoryForm">
    <form id="categoryForm" (ngSubmit)="save()" #newCategory="ngForm" name="category">
      <input type="hidden" [(ngModel)]="bean.categoryId" name="bean.categoryId">
      <div class="form-group row">
        <div class="col-sm-6">
          <label class="col-form-label">Category Name</label>
          <input type="text" name="bean.categoryName" [(ngModel)]="bean.categoryName" value="{{bean.categoryName}}"
          class="form-control" id="CategoryName" required>
        </div>
      </div>

      <div class="form-group row">
          <div class="col-sm-6">
            <label class="col-form-label">Category Color</label>
            <input
              class="form-control"
              [(colorPicker)]="bean.categoryColor"
              [style.background]="bean.categoryColor"
              (colorPickerChange)="bean.categoryColor"
              cpPosition = "top-right"
              cpDialogDisplay="inline"
              cpToggle="true"
              name="bean.categoryColor"
              [(ngModel)]="bean.categoryColor"
              id="Color"
              readonly="true"
              cpDisableInput="false"
              required
            >
          </div>
      </div>
      <div class="form-group row"></div>
      <div class="form-group row text-center">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary bg-lrg" > &nbsp; Save &nbsp; </button> &nbsp;&nbsp;
          <button type="button" class="btn btn-secondary" (click)="showCategoryForm=false">Cancel</button>
        </div>
      </div>
    </form>
  </div>

  <div id="CategoryList" *ngIf="!showCategoryForm">
      <span *ngFor="let category of categoryList">
          <div class="form-group row " style="padding-left: 20px;" (click)="editCategory(category)">
            <input type="hidden" [(ngModel)]="category.id">
            <div class="col-sm-4">
              <span class="categoryColorBox" [ngStyle]="{'background-color': category.colorCode}" > </span>
              <span class="categoryColoroBoxLabel" > {{category.name}} </span>

            </div>
          </div>
        </span>
  </div>
  <div class="form-group row addIcon" *ngIf="!showCategoryForm">
      <div class="col-sm-6">
        <div class="clearfix">
          <button *ngIf="!showForm" class="btn btn-success rounded-circle float-right"
          (click)="addNewCategory()" title="Add New Category">
            <h2>+</h2>
          </button>
      </div>
      </div>
  </div>

</div>
