<div class="container-fluid">
  <p></p>

  <span *ngFor="let budget of budgetList">
    <div class="form-group row">
      <div class="col-sm-6">
        <div class="clearfix">
          <span class="float-left">{{budget.budgetCategoryName}}</span>
          <span class="float-right">{{budget.totalBudgetAmount}}</span>
        </div>
        <div class="progress" style="height:20px">
          <div class="progress-bar" role="progressbar"
            [ngStyle]="{'width.%': budget.spentAmountPercentage, 'background-color':budget.categoryColorCode}" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"> {{budget.spentAmountPercentage}}% </div>
        </div>
        <div class="clearfix">
          <span class="float-left">{{budget.spentAmount}} <small>spent</small> </span>
          <span class="float-right">{{budget.remainingAmount}} <small>to use</small> </span>
        </div>
      </div>
    </div>
  </span>
</div>
