<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="col-sm text-right">
   <h3> <strong>Personal Finance Tracker</strong></h3>
  </div>
  <div class="col-sm text-right">
    <a class="navbar-brand nav-item"  routerLink="login"  routerLinkActive="router-link-active" title="Lock"><strong>#</strong></a>
    <a class="navbar-brand nav-item" routerLink="transaction"  routerLinkActive="router-link-active" title="Add"><strong>+</strong></a>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01"  >
    <ul class="navbar-nav mr-auto" data-toggle="buttons">
      <li class="nav-item">
        <a class="nav-link" routerLink="transactionList"  routerLinkActive="active " >Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="budget"  routerLinkActive="active">Budget</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="graph"  routerLinkActive="active">Pie Graphs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="categories"  routerLinkActive="active">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="report"  routerLinkActive="active">Reports</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<router-outlet></router-outlet>
