/* You can add global styles to this file, and also import other style files */

/*
  we configured the CSS in angular.json file for both css and js script files
*/

.roundbutton {border-radius: 100%;}

.categoryColorBox {
  display: inline-block;; /* the default for span */
  width: 20px;
  height: 20px;
  padding: 5px;
}

