/* You can add global styles to this file, and also import other style files */

/*
  we configured the CSS in angular.json file for both css and js script files
*/

a.roundbutton {
  border-radius: 100%;
}

div.addIcon {
  /* position: fixed; */
  bottom: 10px;
  position: sticky;
}
div.transaction {
  border: 0.1px solid rgb(199, 187, 187);
  height: 50px;
}

div.categoryColorBoxBadge {
  display: inline-block;
  height: 20px;
  border: 0.1px solid rgb(155, 153, 153);
  padding: 0px 10px 10px;
  text-align: center;
  font-size: 75%;
  text-align: center;
  white-space: nowrap;
  color:white;
}

div.transactionList {
  padding-left: 10px;
  padding-right: 10px;
}

div.summary {
  padding: 10px 10px;
  font-size: large;
  font-weight: bold;
}


